<div style="margin-top: 30px; font-size: 30px;">
Aplikacja salon samochodowy zostala napisana w Javie z wykorzystanie frameworka Spring Boot, Hibernate'a oraz bazy danych MySql postawionej na azure.
Po stronie klienta zostal uzyty Angular. Aplikacja umozliwia dodawanie aut do istniejacej bazy, wyswietlenie wszystkich aut, zobaczenie szczegolow dowolnego auta, usuniecie auta oraz edycje istniejacego.
Ponadto zostal zaimplementowany system logowania oraz rejstracji wspomagany przez token tymczasowy JWT. Aby zoabczyc zawartosc strony nalezy sie zarejstrowac oraz zalogowac.
Aplikacja zostala stworzona na potrzeby procesu rekrutacyjnego w firmie JCommerce.
</div>
