<nav style="color:white;" class="navbar navbar-dark bg-primary navbar-expand-md">
  <a style="font-size: 25px;" class="navbar-brand" routerLink="home"><b>Salon samochodowy</b></a>
  <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#tgmenu" aria-controls="tgmenu" aria-expanded="false" aria-label="Rozwijanie menu">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="tgmenu">
  </div>
  <div class="collapse navbar-collapse" id="tgmenu">
          <ul class="navbar-nav ml-auto">
              <li>
                <a style="color: white;" class="nav-link" routerLink="home"><b>Lista aut</b></a>
              </li>
              <li>
                <a style="color: white;" class="nav-link" routerLink="about"><b>Opis</b></a>
              </li>
              <li class="nav-item">
                  <a *ngIf="!token" style="color: white;" class="nav-link" routerLink="register"><b>Rejestracja</b></a>
              </li>
              <li class="nav-item">
                  <a *ngIf="!token" style="color: white;" class="nav-link" routerLink="login"><b>Logowanie</b></a>
              </li>
              <li class="nav-item">
                  <a style="color: white;" *ngIf="token" class="nav-link" (click)="logout()" routerLink="home"><b>Wyloguj</b></a>
              </li>
          </ul>
  </div>
</nav>