<br>
<div style="font-size: 40px; font-weight: bold; text-align: center">{{car.carBrand}} {{car.carModel}}</div>
<hr>
<div style="font-size: 25px;">
      <div class="row">
        <div class="top col-md-3">Silnik:</div>
        <div class="desc col-md-9">{{car.engine}}</div>
      </div>
      <div class="row">
        <div class="top col-md-3">Moc:</div>
        <div class="desc col-md-9">{{car.powerHp}}</div>
      </div>
      <div class="row">
        <div class="top col-md-3">Paliwo:</div>
        <div class="desc col-md-9">{{car.fuelType}}</div>
      </div>
      <div class="row">
        <div class="top col-md-3">Rok produkcji:</div>
        <div class="desc col-md-9">{{car.dateOfProduction}}</div>
      </div>
      <div class="row">
          <div class="top col-md-3">Opis:</div>
          <div class="desc col-md-9">{{car.description}}</div>
      </div>
</div>
<br>
<hr>
<br>
<div style="text-align: center;">
<button class="btn btn-info" routerLink="/home">Powrót</button>
</div>
<div style="margin-bottom:100px;"></div>